
[type=q] {
    border-left: 3px solid lightblue;
    padding-left: 7px;
    margin-left: 6px;
}

[type=h1] {
    font-size: 250%;
}

[type=d]::before {
    color: gray;
    content: '\2022';
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    top: 1px;
}

[type=b] { 
    font-weight: bold;
}

[type=i] { 
    font-style: italic;
}

[type=sup] { 
    vertical-align: super;
    font-size: smaller;
}

[type=sub] { 
    vertical-align: sub;
    font-size: smaller;
}
/* this prob not best idea bc seems not able to have multiple lists on same lvl
div {
    counter-reset: list-number;
}
div > div {
    counter-increment: list-number;
}
div div[type=tb]:before :not(div) {
    content: counter(list-number);
} */